@import url('https://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto+Slab:wght@100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

/*--Main Menu--*/
h1 {
    font-family: 'Harry Potter', sans-serif;
    color: #b39161;
    text-shadow: 2px 2px 0 #000937;
    letter-spacing: 1.5px;                   /* Espaciado entre letras */   
}

.menu, .story, .instructions, .house-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 1000px;
    height: 533px;
    border: 2px solid #000;
    background-image: url("/assets/images/menu/background-menu.png");
    background-size: cover;
}

#menu-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 210px;
    padding-left: 1rem;
}

.bt-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    height: 2.3rem;
    font: bold 1rem 'Cinzel', sans-serif;
    color: #000937;
    margin-bottom: 0.5rem;
    background-color: #b39161;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-left: 0.5rem;
}

.select-icon {
    width: 2.5rem;
    visibility: hidden;
    padding-left: 2rem;
}

/*On hover, change background and font color*/
.bt-options:hover {
    background-color: #000937;
    color: #b39161;
}

/*On hover, show icons*/
.bt-options:hover .select-icon {
    visibility: visible;
}

.hidden {
    display: none;
}

/*--Instructions and Story*/
.controls {
    width: 1rem;
}

.space {
    width: 2.5rem;
}


.story, .instructions, .house-test {
    background-image: url("/assets/images/menu/background-screen.png");
}

p, h2, .list-instructions, h3 {
    width: 500px;
    margin-left: 50px;
    font: 0.8rem 'Cinzel', sans-serif;
}


.list-instructions {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

h2 {
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: #0c1336;
    color: #b39161;
    width: 180px;
    height: 50px;
    align-content: center;
    font-size: 1.2rem;
    border-radius: 15px;
}

.screen-style-bt {
    background-color: #000937;
    font: bold 0.8rem 'Cinzel', sans-serif;
    margin-left: 50px;
    color: #b39161;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

/*House Test*/
#house-test h2{
    width: 450px;
}


